# btcgw
PORT=8080
DEV=true
BITCOIN_WALLET_ADDR=

# Bitcoin Core
BITCOIN_CLI_PATH=
BITCOIND_ADDR=
BITCOIND_PORT=
BITCOIND_RPC_USER=
BITCOIND_RPC_PASSWORD=

# Remote bitcoin-cli via cmdproxy
CMDPROXY_ENABLED=false
CMDPROXY_URL=https://hoge.example.com
CMDPROXY_SECRET=

# Store backed by MongoDB Atlas
MONGO_HOSTNAME=cluster0.hogehoge.mongodb.net
MONGO_USER=btcgw
MONGO_PASSWORD=

# Cloud Run deployment
APP_VERSION=0.1.0
APP_NAME=btcgw
GCP_ID=
